<div>

  <div class="row">
    <div class="col-md-8 ml-auto mr-auto text-center">
      <h2 class="mt-2 advertencia"><img src="assets/logo.png" alt="" width="120" height="70">
      Solicitud de desinstalacion de Filtro</h2>
      <hr>
      <span class="text-danger font-weight-bold">Todos los campos son requeridos</span>
        
    </div>
  </div>
  
  <div class="container estilo_form" id="contentToConvert">
    <div class="row">
      <div class="col-md-8 mt-3 ml-auto mr-auto mb-2">
        

        <form [formGroup]="forma" (ngSubmit)="submitear()">
          <div class="form-group row">
              <label class="col-form-label col-md-3 titulo_row">Nombre y apellido:</label>
              <div class="col-md-8">
                  <input class="form-control" placeholder="Minimo 6 Caracteres" formControlName="Nombre" type="text" name="" id="">
              </div>
          </div>
          <div class="form-group row">
              <label class="col-form-label col-md-3 titulo_row">Dirección:</label>
              <div class="col-md-8">
                  <input class="form-control" placeholder="Minimo 6 Caracteres" formControlName="Dirección" type="text" name="" id="">
              </div>
          </div>
          <div class="form-group row">
              <label class="col-form-label col-md-3 titulo_row">Dirección de mail:</label>
              <div class="col-md-8">
                  <input class="form-control" placeholder="" formControlName="Email" type="text" name="" id="">
              </div>
          </div>
          <div class="form-group row">
              <label class="col-form-label col-md-3 titulo_row">Kehilá: </label>
              <div class="col-md-8">
                  <input class="form-control" placeholder="Minimo 4 Caracteres" formControlName="Kehilá" type="text" name="" id="">
              </div>
          </div>
          <div class="form-group row">
              <label class="col-form-label col-md-3 titulo_row">Teléfono fijo:</label>
              <div class="col-md-8">
                  <input class="form-control" formControlName="Teléfono" type="text" name="" id="">
              </div>
          </div>
          <div class="form-group row">
              <label class="col-form-label col-md-3 titulo_row">Telefono celular:</label>
              <div class="col-md-8">
                  <input class="form-control" formControlName="Celular" type="text" name="" id="">
              </div>
          </div>
          <div class="form-group row">
              <label class="col-form-label col-md-3 titulo_row">Dispositivo:</label>
              <div class="col-md-8">
                  <input class="form-control" formControlName="Dispositivo" type="text" name="" id="">
              </div>
          </div>
          <!-- <div class="form-group row">
            <label class="col-form-label col-md-2 titulo_row">Aclaracion:</label>
            <div class="col-md-8">
                <input class="form-control" formControlName="Aclaracion" type="text" name="" id="">
            </div>
          </div> -->
          <div class="form-group row">
            <div class="col-md-6">
              <label class="col-form-label titulo_row">Firma:</label>                
              
              <div class="text-center estilo_canvas">
                <signature-pad [options]="signaturePadOptions" id="signatureCanvas"></signature-pad>            
              </div>
              <div class="text-center mt-1">
                <button class="btn btn-sm btn-outline-danger text-center" type="button" (click)="borrarFirma()">Borrar</button>
              </div>
              
              
            </div>
            <div class="col-md-6">
              <label class="col-form-label col-md-2 titulo_row">Aclaracion:</label>
              <div class="col-md-10">
                  <input class="form-control" formControlName="Aclaracion" type="text" name="" id="">
              </div>
            </div>







            <!-- <div class="col-md-3">
              <label class="col-form-label titulo_row">Firma:</label>
              <div class="text-center estilo_canvas">
                  <signature-pad [options]="signaturePadOptions" id="signatureCanvas"></signature-pad>            
              </div>
              
              <div class="col-md-6 text-center mt-1">
                <button class="btn btn-sm btn-outline-danger text-center" type="button" (click)="borrarFirma()">Borrar</button>    
              </div>              
    
            </div>
    
            <div class="col-md-6">
              <label class="col-form-label col-md-2 titulo_row">Aclaracion:</label>
              <div class="col-md-8">
                  <input class="form-control" formControlName="Aclaracion" type="text" name="" id="">
              </div>
            </div>    -->
    
          </div>      
          
          <div class="row">
            <span class="text-center advertencia">
                A partir del día de la fecha me hago responsable del contenido navegado y visualizado en el dispositivo arriba mencionado.
            </span>
          </div>
      
          <div class="row">
            <div class="col-md-12 text-center">
              <button type="submit" [disabled]="!forma.valid" class="btn btn-outline-dark">
                Generar
              </button>
      
            </div>
          </div>
    
    
    
        </form>

      </div>

    </div>
    
  </div>

</div>

